/problema1/Problema1(1repo)/nbproject/private/
/problema1/Problema1(1repo)/build/
/problema1/Problema1(repositorio2)/nbproject/private/
/problema1/Problema1(repositorio2)/build/
/problema2/Problema2(repositorio2)/nbproject/private/
/problema2/Problema2(repositorio2)/build/
/problema3/Problema3(repositorio2)/nbproject/private/
/problema3/Problema3(repositorio2)/build/
/problema4/Problema4/nbproject/private/
/problema4/Problema4(repositorio2)/nbproject/private/
/problema4/Problema4(repositorio2)/build/
